[Desktop Entry]
Name=Docker Utilities
Exec=AppRun
Icon=utilities-terminal
Type=Application
Categories=Utility;TerminalEmulator;
X-AppImage-Version=1.0.4
